:root {
  --dark-background: #1f2937;
  --primary-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body > * {
    padding: 0 15%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

ul {
    list-style: none;
    padding: 0;
}

.header {
    background-color: var(--dark-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.links {
    display: flex;
    gap: 18px;
}

.hero,
.cards,
.reseña,
.call-action {
    display: flex;
    flex: 1;
}

.hero {
    background-color: var(--dark-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.hero-izquierda,
.hero-derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 80px 0;
    justify-content: center;
}


.hero-img {
    text-align: center;
    color: #e5e7eb;
}

.tittle {
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-text-color);
}

.hero-description {
    color: var(--secondary-text-color);
}

.registro {
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    height: 50px;
    width: 130px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: none;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 100px;
    padding-top: 40px;
}

.cards-h2 {
    text-align: center;
    color: var(--dark-background);
    font-size: 36px;
    font-weight: 900;
}

.cards-list {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: var(--dark-background);
    text-align: center;
    width: 200px;
}

.box {
    border: solid 5px var(--button-color);
    border-radius: 15%;
    height: 200px;
    width: 200px;
}

.reseña {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 550px;
    font-size: 32px;
    text-align: justify;
    font-style: italic;
}

.reseña-firma {
    text-align: left;
    padding-left: 700px;
    font-weight: bold;
}

.call-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call-action-box {
    width: 75%;
    height: 120px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 12px;
}

.call-action-header {
    font-weight: bold;
    font-size: 24px;
}

.call-action .registro {
    border: solid 3px white;
}


.footer {
    background-color: var(--dark-background);
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 18px;
    padding: 18px;
}